
body {
    background-color: #fff;
    color: #fff;
    font: 300 100.1% "Helvetica Neue", Helvetica, "Arial Unicode MS", Arial, sans-serif;
}

#map {
    /*width: 959px;
    height: 593px;
    position: absolute;
    top: 10%;
    left: 0;
    bottom: 0;
    right: 0;*/
    
    margin-top: 80px;
    width: 75%;
    float: left;
}

svg { width: 100%; height: 100%;}


div.container.twitter {
    margin: 0;
}

#trends {
    margin-top: 90px;
    display: inline;
    float: left;
    border-color: #000;
    border-style: groove;
    border-width: medium;
    
}

#trends > ul {
    list-style-type: none;
}

#trends > ul > li > a {
    cursor: pointer;
}

#trends-title {
    color: #000;
    border-bottom-color: #000;
    border-bottom-style: groove;
    border-bottom-width: thin;
}

/* 767px center map, put trends below */